data/
trained_models/
plots/
predictions/
__pycache__/
**/*.npz
evaluations
evaluations_per_example
prerender/
venv/
waymo_motion_prediction_orig_dirty_code_trained_model.zip
xception71/
viz/
*.zip
*test_xception71_263000_dev_131.pth
